@using Mvc_Youtube.Models
@model List<TblUrun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="tbl1" class="table table-condensed">
    <thead>
        <tr>
            <th>Urun ID</th>
            <th>Urun Adı</th>
            <th>Markası</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urn in Model)
        {
            <tr>
                <th>@urn.UrunID</th>
                <td>@urn.UrunAd</td>
                <td>@urn.Marka</td>
                <td>@urn.TblKategori.KategoriAd</td>
                <td>@urn.Fiyat</td>
                <td>@urn.Stok</td>
                <td>@Html.ActionLink("Sil ", "SIL", new { id = urn.UrunID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyormusunuz?')" })</td>
                <td><a href="/Urun/UrunGetir/@urn.UrunID" class="btn btn-primary">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Urun/UrunEkle/" class="btn btn-primary">Urun Ekle</a>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script>
    $('#tbl1').DataTable();
</script>
